.signed-button {
    margin: auto 0;
    padding: 2rem;
    flex-direction: row;
    margin: 10rem auto;
    font-size: 4rem;
    font-family: sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    background-color: var(--color-secundary-dark);
    border-radius: 3%;
}
.signed-button img {
    width: 8rem;
    height: auto;
    margin: 1rem;
}